<mat-card>
  <mat-toolbar color="primary">Cursos disponíveis</mat-toolbar>

  <div class=".column-flex mat-elevation-z8">

  <!-- courses$ é um observable | async para automaticamente se inscrever no observable e destruir a o componete o angular faz o unsubscribe não ficar fazendo requisição -->
  <!-- vai ser responsavel por se inscrever no observable extrai as informações, atribuir elas para a variavel local que se chama courses-->

  <!-- [courses]="courses" faz um imput para o componente filho-->
  <!-- (add)="onAdd()" é um listener escutando o componente filho para quando clicar no adicionar curso-->
   <!-- (edit)="onEdit($event)" é um listener escutando o componente filho para quando clicar no editar curso $event para pegar o que foi passado-->
   <!-- Esses comunicação entre componente pai e filho foi feita para separar os componenentes e facilitar na criação dos testes-->
  <app-courses-list
    *ngIf="courses$ | async as courses; else loading"
    [courses]="courses"
    (add)="onAdd()"
    (edit)="onEdit($event)"
    ></app-courses-list>

  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
</mat-card>
